nav {
	background: #30323d;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-link {
	text-decoration: none;
	color: #e8c547;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.right-side-nav {
	width: 150px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	font-size: 20px;
	padding-right: 20px;
}

.app-name {
	font-family: 'Pacifico', cursive;
	font-size: 26px;
}

.side-bar-container {
	background: rgba(0, 0, 0, 0.386);
	z-index: 1;
	position: fixed;
	right: 0;
	width: 100vw;
	height: 100vh;
}

.side-bar {
	background: #30323dd9;
	z-index: 1;
	position: fixed;
	right: 0;
	width: 100vw;
}

.menu-item {
	padding: 10px;
}

.menu-item:hover {
	background: #30323dc4;
}
