nav {
	/* background: #4d5061; */
	background: #30323d;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.nav-link {
	text-decoration: none;
	color: #e8c547;
	display: flex;
	align-items: center;
}

.right-side-nav {
	width: 40vw;
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}

.app-name {
	font-family: 'Pacifico', cursive;
	font-size: 26px;
}
