.main {
    position: relative;
    min-height:100vh;
}
.submit-button {
    font-size: 20px;
    background: #30323d;
    color: #e8c547;
    border-radius: 5px;
    margin-top: 15px;
}

.main-body {
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.error-retrieve {
    padding-top: 2rem;
    text-align: center;
    font-size: 20px;
}

.review-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
}

.review {
    border-top: 1px solid #30323d;
    color: #30323d;
    text-decoration: none;
    padding: 1.5rem 1rem;
}

.review:hover {
    box-shadow: 5px 5px 20px gray;
}

.review-title {
    margin: 0;
}

.review-owner {
    font-size: 14px;
    margin: 0;
    color: #434657;
}

.review-body {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-size: 18px;
}

.edit-buttons, .delete-buttons {
    border: none;
    background: #c1c4b9;
    color: #30323d;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.edit-buttons:hover, .delete-buttons:hover {
    cursor: pointer;
    text-decoration: underline;
    border: solid 1px #30323d;
}